:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    height: 69vh; 
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    /*background-size:center;*/
    background-position: 39em 1em ;
    /*align-items: center;*/
    text-align: center;
    /*comentario dentro da classe */
    
}

.container__caixa {
    margin: 0 2em;
}

.container__imagem {
    margin: 1em 1em 1em; 
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.alguns_servicos {
    margin: 2em;
    color: var(--botao-azul);
}

.desenho_teclado {
    width: 93%;
    height: 200px;
    margin: 0 1em;
}

.servicos_oferecidos {
    margin: 0 10em;
}

.lista_servicos {
    padding: 1.8px;
}

.itens_oferecidos {
    line-height: 3em;
}

.secundario {
    align-items: center;
    margin: 0 0em;
}

.secundario__imagem {
    width: 93%;
    height: 35%;
    margin: 0 1em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 28px;
    /*color: var(--branco-principal);*/
    color: var(--botao-azul);
    margin-bottom: 0.5em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}

.rodape {
    text-align: center;
    margin: 0em 0em 0.9em 0em;
}

.rodape__texto {
    text-align: center;
    margin: 0em 0em 0.2em 0em;
}
.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

/*a partir daqui faço a responssividade para funcionar legal em celular*/
@media screen and (max-width: 768px) {
    .container {
        display: block;
        background-image: none;    
    }

    .container__imagem {
        width: 50vw;
    }

    .container__caixa {
        margin: 1em 0.5em;            
    }

    .principal {
        display: inline;
    }

    .alguns_servicos {
     text-align: center;
     height: 20px;
    }

    .desenho_teclado {
        width: 90vw;
        margin: 0em 1em 0em 1em;
        height: 80px;
    }

    .servicos_oferecidos {
        margin: 25px;
        font-size: 15px;
    }

    .lista_servicos {
       width: 100%;
        
    }

    .itens_oferecidos {
        line-height: 1.4em;
    }
    
   .secundario__imagem {
    width: 90vw;
    margin: 0em 1em 0em 1em;
    height: 80px;
    }

    .secundario {
        margin: 0.2em;
        width: 98vw;
        font-size: 15px;
        display: inline;
        text-align: center;
    }
    
    .descricao__titulo {
        font-size: 22px;
        margin-bottom: 0em;
    }

    .descricao__texto {
        width: 90vw;
        margin: 0em 1em 0em 1.4em;
        height: 27px;
    }

    .whatsapp-link {
        right: 15px;
        bottom: 18px;
    }
  
    .rodape {
        text-align: center;
    }

    .rodape__texto {
        margin: 0;
        font-size: 13px;
        width: 100vw;   
    }   

}